body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
}

header {
  position: relative;
  height: 60px;
}

header hr{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.info-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 375px;
}

.info-bar img {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.info-bar h3 {
  text-align: center;
}

.info-bar button {
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 7px;
  border: none;
  background-color: rgb(62, 153, 214);
  color: white;
  font-size: medium;
  font-weight: 600;
}

.info-bar text {
  font-size: 13px;
  color: rgb(88, 88, 88);
}

.hours-title {
  margin-bottom: 5px;
}

.main-col {
  flex: 1;
  min-width: 350px;
  max-width: 900px;
}

.main-col h3 {
  padding-left: 40px;
  font-size: medium;
}

.more-less {
  color: rgb(62, 153, 214);
  font-size: 13px;
}

.more-less:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hours-table {
  margin-left: 15px;
}

.hours-table tr td{
  padding: 4px;
  font-size: 14px;
  color: rgb(88, 88, 88);
}

.links {
  display: flex;
  flex-direction: column;
  color: rgb(62, 153, 214);
  font-size: 16px;
  font-weight: bold;
}

.links a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.links a:visited {
  text-decoration: none;
  color: rgb(62, 153, 214)
}

.navbar-brand {
  color: rgb(62, 153, 214);
  text-decoration: none;
  font-weight: bold;
  float: right;
  padding-top: 15px;
  padding-right: 30px;
}

hr {
  background-color: rgb(223, 223, 223);
  border: none;
  height: 1px;
}

.job-list-entry-container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 7px;
  margin-top: 15px;
}

.job-list-entry-container:hover {
  cursor: pointer;
  border-color: rgb(62, 153, 214);
}

.job-list-entry {
  width: 80%;
}

.job-list-entry h4 {
  margin: 15px;
  font-size: 15px;
}

.job-list-entry p {
  margin-left: 15px;
}

.job-list-entry-description {
  font-size: 14px;
  color: rgb(88, 88, 88);
}

.job-list-entry-container span {
  font-size: 14px;
  width: 15%;
  margin: 15px;
}

.job-list-entry-options {
  padding-bottom: 10px;
}

.job-options-select {
  margin: 15px;
  padding: 13px;
  border-radius: 4px;
  border-color:rgb(155, 155, 155);
  background-color: white;
  font-size: 14px;
}

.modal {
  /* display: none; Hidden by default */
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 8%;
  bottom: 8%;
  min-width: 500px;
  max-width: 60em;
  width: 100%;
  min-height: 1px;
  max-height: 50em;
  height: auto;
  overflow: auto;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid white;
  width: 100%;
}

.modal-header {
  position: sticky;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid rgb(223, 223, 223);
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.modal-header img {
  margin-top: 30px;
  margin-bottom: auto;
  margin-left: 40px;
  margin-right: 18px;
  height: 50px;
  width: 50px;
}

#appointmentModalTitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 43px;
  width: 45%;
}

#appointmentModalSignIn {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  margin-top: 43px;
  margin-right: 40px;
  width: 45%;
}

.appointment-modal-content {
  display: flex;
  flex-direction: row;
}

.modal-sidebar {
  width: 250px;
}

.modal-appointment-list {
  width: 100%;
}