body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
}

header {
  position: relative;
  height: 60px;
}

header hr{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.info-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 375px;
}

.info-bar img {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.info-bar h3 {
  text-align: center;
}

.info-bar button {
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 7px;
  border: none;
  background-color: rgb(62, 153, 214);
  color: white;
  font-size: medium;
  font-weight: 600;
}

.info-bar text {
  font-size: 13px;
  color: rgb(88, 88, 88);
}

.hours-title {
  margin-bottom: 5px;
}

.main-col {
  flex: 1;
  min-width: 350px;
  max-width: 900px;
}

.main-col h3 {
  padding-left: 40px;
  font-size: medium;
}

.more-less {
  color: rgb(62, 153, 214);
  font-size: 13px;
}

.more-less:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hours-table {
  margin-left: 15px;
}

.hours-table tr td{
  padding: 4px;
  font-size: 14px;
  color: rgb(88, 88, 88);
}

.links {
  display: flex;
  flex-direction: column;
  color: rgb(62, 153, 214);
  font-size: 16px;
  font-weight: bold;
}

.links a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.links a:visited {
  text-decoration: none;
  color: rgb(62, 153, 214)
}